run_images/
__pycache__/
.navigation_stop
models/
depth_implementation/outputs/
depth_implementation/UniDepth/
segmentation_implementation/Grounded-SAM-2/
segmentation_implementation/outputs/
**/checkpoints/*.pt
depth_judge_images/